<form #addform="ngForm" [formGroup]="noteForm" >
<mat-accordion class="addNote">
    <!-- #docregion basic-panel -->
    <!-- #docregion hide-toggle -->
    <mat-expansion-panel [expanded]="panelOpenState" hideToggle>
        <!-- #enddocregion hide-toggle -->
        <mat-expansion-panel-header>
            <mat-panel-title>
               
                    <textarea formControlName="title" class="title" matInput placeholder="Title" autocomplete="off" ></textarea>
               
            </mat-panel-title>
        </mat-expansion-panel-header>
        
            <input formControlName="description" class="title" matInput placeholder="Take a note..." >
            <div class="close-button">
                <div class="note-icon">
                    <app-icons></app-icons>
                </div>
                <button mat-button (click)="close()">close</button>
            </div>
       
    </mat-expansion-panel>
</mat-accordion>
</form>