.card{
    width: 240px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.title{
    margin-top:2px ;
    font:bolder;
}
.description{
    margin-top:15px;
    //padding-bottom: 50px;
}
.main-box{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.icons{
    padding-top:15px;
    //padding-bottom: 50px;
}