<div class="main-box">
    <div class="box" >
        <ng-container >
            <mat-card class="card" [style.background-color]="backgroundColor">
                <div class="title" (click)="onClick()">
                    {{note.title}}
                </div>
                <div class="description">
                    {{note.note}}
                </div>
                <div class="description">
                    <ng-container >
                        <button mat-button>
                            <mat-icon fontSet="material-icons-outlined">{{collaborator}}</mat-icon>
                        </button>
                    </ng-container>
                </div>
                <div (click)="onDeleteClick()">
                    <button mat-icon-button>
                        <mat-icon fontSet="material-icons-outlined">add_alert</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon fontSet="material-icons-outlined" (click)="onClick1()">person_add_alt</mat-icon>
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="menu1">
                        <mat-menu #menu1="matMenu">
                            <button mat-menu-item>
                                <div>
                                    <app-colorpalette (colorChanged)="updateBackgroundColor($event)"></app-colorpalette>
                                </div>
                                <!-- <app-archivenote></app-archivenote> -->
                            </button>
                        </mat-menu>
                        <mat-icon fontSet="material-icons-outlined">palette</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon fontSet="material-icons-outlined">image</mat-icon>
                    </button>
                    <button mat-icon-button >
                        
                        <mat-icon fontSet="material-icons-outlined">archive</mat-icon>
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <app-deletenote></app-deletenote>
                            </button>
                        </mat-menu>
                        <mat-icon fontSet="material-icons-outlined">more_vert</mat-icon>
                    </button>
                </div>
            </mat-card>
        </ng-container>
    </div>

</div>
