.card{
    width: 240px;
    height:240px;
    margin-top: 0px;
    margin-right: 20px;
    // margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.title{
    margin-top:2px ;
    font:bolder;
}
.description{
    margin-top:15px;
    //padding-bottom: 50px;
}
.main-box{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
}
.box{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.icons{
    padding-top:15px;
    //padding-bottom: 50px;
}
.colorpalette{
    height: 200px;
    width: 350px;
   display: grid;
   position: relative;
}