.main-addnote{
    width: 500px;
    margin-left: 400px;
    margin-right: 20px; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-getnote{
    margin-left: 200px; 
    margin-top: 20px;
    margin-bottom: 20px;
}